#for django main progect
virtualenv .ai_env
source .ai_env/bin/activate

django
djangorestframework 
django-bootstrap4
djangocms-admin-style
pandas
python-dotenv
openai
openpyxl

langchain 
openai 
chromadb
gspread 
oauth2client

celery
celery-progress

#for application
paramiko