#for django main progect
#virtualenv .ai_env
#source .ai_env/bin/activate

django
djangorestframework 
websocket
django-bootstrap4
djangocms-admin-style
pandas
python-dotenv
openai
openpyxl

tiktoken
langchain 
chromadb
gspread 
oauth2client

gunicorn
psycopg2

celery
celery-progress

#for application
paramiko
