#for django main progect
virtualenv .ai_env
source .ai_env/bin/activate

django
djangorestframework 
django-bootstrap4
pandas
python-dotenv
openai
openpyxl

celery
celery-progress

#for application
paramiko