{% extends "chat/chat_base.html" %}

{% load static %}
{% load bootstrap4 %}
<head>
{% block title %} Edit proposal {% endblock %}

<link rel= "stylesheet" type= "text/css" href= "{% static 'my_css/chat_style.css' %}">

</head>
{% block content %}
<h2> Edit proposition by feedback </h2>
<div class="conteiner-fluid mb-2 border">
<form name="Edit proposal" method="POST" >
  {% csrf_token %}
  <div class="row mb-2">
    
	<div class="col">
	<div class="row ml-4">
		<div class = "col">
			
			<div class="row ml-4">
				<div class="col">
					<div class="row">
						{{ form.f_model.label_tag }}
					</div>
					<div class="row">
						{{ form.f_model }}
					</div>
				</div>
					
				<div class="col">
					<div class="row ml-4">
						{{ form.f_chat_temp.label_tag }}
					</div>
					<div class="text_field row ml-4">
						{{ form.f_chat_temp }}
					</div>
				</div>
			</div>
			
			<div class="row">&nbsp </div>
			<div class="row">
				<b>{{ form.f_content.label_tag }}</b>
			</div>
			<div class="text_field row ">
				<pre>{{ form.f_content|safe }}</pre>
			</div>
									
			<div class="row">
				<b>{{ form.f_feedback.label_tag }}</b>
			</div>
			<div class="text_field row ">
				<pre>{{ form.f_feedback|safe }}</pre>
			</div>
			
			<div class="row">
				{% buttons submit="  Submit  " %} {% endbuttons %}
			</div>
			
			{% if user.is_superuser %}
			<div class="row">
				{{ form.f_debug_field.label_tag }}
			</div>
			<div class="text_field row">
				<pre>{{ form.f_debug_field|safe }}</pre>
			</div>
			{% endif %}
			
		</div>
	</div>
	</div>
			
	<div class="col mb-2 border">
		<h2> Job archive</h2>
		

		<table border="1" colspan="2" width="100%">
		<tr>
		<th>Job_title </th>
		<th>Delete</th>
		</tr>
		{% for record in jobs %}
		<tr>
		<td><a href="{% url 'chat:my_edit_proposal' id=record.id %}" style="text-decoration:None">{{record.job_title }}</a></td>
	      
		<td align="center"><a href="{% url 'chat:my_del_record_edit' id=record.id %}" style="text-decoration:None">Delete</a></td>
		</tr>
		{% endfor %}  
		</table>
	</div>
  </div>
</form>
</div>

{% endblock %}
